@use "styles";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px 0px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.content {
}
