@use "styles";

.container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.scores {
  display: flex;
  justify-content: space-between;

  .score {
    display: flex;
  }
}

.editScore {
  display: flex;
  justify-content: space-between;
}