@use "styles";

.containerWrapper {
  background-color: var(--panelBackground);
  border-bottom: 1px solid var(--border);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;    
  max-width: 1260px;
  margin: auto;
}

.rightContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;

  .theme {
    padding-top: 5px;
  }
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .item {
    font-size: 0.8750em;
    display: flex;
    padding: 12px 17px;
    color: var(--font);
    text-decoration: none;
    transition:  background-color 0.2s ease-in, border-bottom 0.2s, top 0.3s ease 0s;
  }

  .item:hover {
    background-color: var(--selectBackground);
  }

  .item:first-of-type {
    margin-left: 0;
  }

  .active {
    padding-bottom: 8px;
    background-color: var(--selectBackground);
    border-bottom: 4px styles.$primary solid;
    font-weight: bold;
  }

  .icon {
    margin-right: 5px;
  }
}

