$black: #060606;
$white: #ffffff;

$primary: #6347EB;
$primary-dark: #3A24A8;
$primary-light: #BFB2FF;
$primary-extra-light: #DBD6F5;

$secondary: #DA620B;
$secondary-dark: #692B16;
$secondary-light: #FF9500;
$secondary-extra-light: #FFDFB2;

$alert-red: #D92726;
$alert-green:#39C674;
$alert-yellow: #F6CE55;

$light-50: #FBFBFB;
$light-100: #F2F2F2;
$light-200: #E5E5E6;
$light-300: #BEBDC1;

$dark-400: #7B7986;
$dark-500: #484653;
$dark-600: #2F2C3A;
$dark-700: #16141F;

$main-font: $dark-700;
$main-background: $light-100;
$main-panel-background: $light-50;
$select-background: $light-200;

$main-border: $light-200;
$icon: $dark-400;

$primary-btn: $primary;
$primary-btn-font: $light-50;
$primary-btn-hover: $primary-dark;

$secondary-btn: $light-50;
$secondary-btn-font: $primary-dark;
$secondary-btn-hover: $primary-extra-light;
$secondary-btn-border: $primary-light;

$disabled-btn: $light-100;
$disabled-btn-font: $light-300;
$disabled-btn-border: $light-300;

$themes: (
  "light": (
    "font": $dark-700,
    "background": $light-100,
    "panelBackground": $light-50,
    "selectBackground": $light-200,
    "border": $light-200,
  ),
  "dark": (
    "font": $light-50,
    "background": $dark-700,
    "panelBackground": $dark-600,
    "selectBackground": $dark-500,
    "border": $dark-400
  )
);

@each $theme-name, $properties in $themes { //TODO fix so we aren't generating multiple duplicate css blocks 
    body[data-theme="#{$theme-name}"] {
        // define a css variable for each property
        @each $name, $property in $properties {
            --#{$name}: #{$property};
        }
    }
}

:export {
    mainFontColor: var(font);
    mainBackgroundColor: var(--panelBackground);
    selectBackgroundColor: var(--selectBackground);
    mainBorderColor: var(--border);
    iconColor: $icon;
    primaryBtnFontColor: $primary-btn-font;
    secondaryBtnFontColor: $secondary-btn-font;
    disabledBtnFontColor: $disabled-btn-font;
}