@use './mixins';

$border-radius: 8px;
$max-screen-width: 1280px;
$default-padding: 10px;
$popup-z-index: 100;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgba(42, 44, 46, 1) inset !important;
  -webkit-text-fill-color: white !important;
  line-height: 35px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--font);
}

.pageWrapper {
  min-height: 85vh;
  margin-top: 20px;
  max-width: $max-screen-width;
  margin-left: auto;
  margin-right: auto;

  .page {
    margin: 20px;
  }
}

.mainContainer {
    display: flex;
    align-items: stretch;
    min-height: 85vh; //TODO
    @include mixins.mobile {
      flex-direction: column;
    }
 }

 .mainPanel:first-child {
    margin-right: 10px;
    @include mixins.mobile {
      margin-right: 0px;
      margin-bottom: 10px;
    }
 }
 
 .mainPanel {
    flex-grow: 1;
    @extend .cardStyles;
  } 

.noPointerEvents {
  pointer-events: none;
}

.noTextDecoration {
  text-decoration: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.cardStyles {
  background-color: var(--panelBackground);
  border: 1px solid var(--border);
  border-radius: $border-radius;
  padding: $default-padding;
}

.headerText {
  font-size: 1.875em;
  line-height: 38px;
}

.subHeaderText {
  font-size: 1.5em;
  line-height: 32px;
}
