$border-radius: 8px;
$max-screen-width: 1280px;
$default-padding: 10px;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgba(42, 44, 46, 1) inset !important;
  -webkit-text-fill-color: white !important;
  line-height: 35px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--font);
}

.pageWrapper {
  min-height: 85vh;
  margin-top: 20px;
  max-width: $max-screen-width;
  margin-left: auto;
  margin-right: auto;

  .page {
    margin: 20px;
  }
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.noPointerEvents {
  pointer-events: none;
}

.noTextDecoration {
  text-decoration: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.mainPanel {
  background-color: var(--panelBackground);
  border: 1px solid var(--border);
  border-radius: $border-radius;
  padding: $default-padding;
}

.headerText {
  font-size: 1.875em;
  line-height: 38px;
}
