@use "../../shared/styles";

.container {
  width: 100%;
  background-color: styles.$main-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .item {
    display: flex;
    padding: 12px;
    margin: 0px 5px;
    color: styles.$main-font;
    text-decoration: none;
  }

  .item:first-of-type {
    margin-left: 0;
  }

  .active {
    padding-bottom: 8px;
    background-color: styles.$select-background;
    border-bottom: 4px styles.$primary solid;
    transition:  background-color 0.3s ease-in, border-bottom 0.3s, top 0.3s ease 0s;
  }
}

