@use "styles";

$button-height: 34px;

.button {
  height: $button-height;
  min-width: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  font-family: 'Open Sans', sans-serif;
  transition:  background-color 0.2s ease-in;
}

.iconOnly {
  min-width: unset;
  padding: 0;
  width: $button-height;
}

.buttonLabel {
  margin: 0px 5px;
}

.primary {
  background-color: styles.$primary-btn;
  color: styles.$primary-btn-font;
  &:hover{
    background-color: styles.$primary-btn-hover;
  }
}

.secondary {
  background-color: styles.$secondary-btn;
  color: styles.$secondary-btn-font;
  border: 1px solid styles.$secondary-btn-border;
  &:hover{
    background-color: styles.$secondary-btn-hover;
  }
}

.disabled {
  background-color: styles.$disabled-btn;
  color: styles.$disabled-btn-font;
  border: 1px solid styles.$disabled-btn-border;
  cursor: default;
}
